body{
    background-image: url(../images/Fondorestaurant.jpg);
    background-repeat: repeat-x; 
    background-color: #000000;}

#fondo{
    position: absolute;
            width: 70%;
            height: auto;
            background-color: #ffffff;
            margin-left: 14%;
}

#logo{
    position: relative;
    margin-left: 40%;
    margin-right: 30%;
    margin-bottom: 2%;
    margin-top: 2%;
}


#menu{
    margin-left: 3%;
}


.boton{
    white-space: nowrap;
    border: 15px solid #ffffff;
    padding: 1% 5%;
    text-align:center;
    width: 100px;
    display:inline-block;
    background: #b14f32;
    ;
}

.boton:hover{
	background: #cb6d51;
}

.textboton{
    color: #ffffff;
    text-decoration: none;
}

.footer{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    top: 940px;
}

#direccion{
    margin-left: 25%;
}

#avisolegal{
    margin-left: 10%;
}

#redessociales{
    margin-left: 42%;
    margin-bottom: 1%;
    margin-top: 2%;
}

#textproducts{
    width: 90%;
    margin-left: 5%;
}

#imgsgaleria{
    margin-left: 6%;
    margin-top: 4%;
    margin-bottom: 5%;
}

.imggaleria{
    margin-left: 4%;
}

.sectioncontact{
    margin-top: 2%;
}

#horario{
    position: relative;
    float: left;
    left: 5%;
}

#contacto{
    position: relative;
    float: right;
    right: 10%;
    margin-top: 2%;
}

#imgrestaurant{
    margin-top: 35%;
    margin-left: 8%;
}

#lista{
    list-style-type: none;
}