body{
    background-image: url(../images/Fondorestaurant.jpg);
    background-repeat: repeat-x; 
    background-color: #000000;}

#fondo{
    position: absolute;
            width: 70%;
            height: auto;
            background-color: #ffffff;
            margin-left: 14%;
            z-index: 2;
}

#logo {
    margin-right: auto; /* Empujar el logo a la izquierda */
    margin-left: 7%;
}

#menu {
    display: flex; /* Usar flexbox para alinear los elementos */
    align-items: center; /* Alinear verticalmente al centro */
    justify-content: space-between; /* Espacio entre los elementos */
    background-color: #b14f32; /* Color de fondo del menú */
    padding: 0px; /* Espaciado interno */
    position: fixed; /* Fijar el menú en la parte superior */
    top: 0; /* Posición en la parte superior */
    left: 0; /* Alinear a la izquierda */
    right: 0; /* Alinear a la derecha */
    z-index: 3; /* Asegurarse de que esté por encima de otros elementos */
    width: 71%;
    margin-left: 14%;
}



.boton {
    margin: 0 45px; /* Espaciado entre los botones */
}

.textboton:hover {
    background-color: #cb6d51; /* Color de fondo al pasar el mouse */
}

.textboton {
    color: #ffffff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    padding: 15px; /* Espaciado interno en los enlaces */
}


.footer{
    position: absolute;
    width: 70%;
    background-color: #ffffff;
    margin-left: 14%;
    padding-top: 67%;
    z-index: 1;
}

#direccion{
    margin-left: 25%;
}

#avisolegal{
    margin-left: 10%;
}

#redessociales{
    margin-left: 42%;
    margin-bottom: 1%;
    margin-top: 2%;
}

#textproducts{
    width: 90%;
    margin-left: 5%;
    margin-top: 20%;
}

#imgsgaleria{
    margin-left: 6%;
    margin-top: 10%;
}

.imggaleria{
    margin-left: 4%;
}

.sectioncontact{
    margin-top: 17%;
}

#horario{
    position: relative;
    float: left;
    left: 5%;
}

#contacto{
    position: relative;
    float: right;
    right: 10%;
    margin-top: 2%;
}

#imgrestaurant{
    margin-top: 35%;
    margin-left: 8%;
}

#lista{
    list-style-type: none;
}


#formulario{
    position: relative;
    left: 37%;
    margin-top: 19%;
}

#boton2{
    width: 100px;
    height: 30px;
    background: #b14f32;
    color: #ffffff;
    border: #b14f32;
    margin-top: 22%;
}

#boton2:hover{
    background: #cb6d51;
    border: #cb6d51;
}

#bannerpresupuesto{
    position: relative;
    left: 15%;
    margin-top: 5%;
}