/*Estilos de las fuentes*/

html{
    font-family: 'Times New Roman', Times, serif;
}

/*Estilos del fondo*/

body{
    background-image: url(../images/Fondorestaurant.jpg);
    background-repeat: repeat-x; 
    background-color: #000000;}

#fondo{
    position: absolute;
            width: 70%;
            height: auto;
            background-color: #ffffff;
            margin-left: 14%;
            z-index: 2;
}

/*Estilos del menu*/

#logo {
    margin-right: auto;
    margin-left: 7%;
}

#menu {
    display: flex; /* Flexbox para alinear los elementos */
    align-items: center;
    justify-content: space-between;
    background-color: #b14f32;
    position: fixed;
    z-index: 3; /* Asegurarse de que esté por encima del fondo */
    width: 70%;
    margin-left: 14%;
    top: 0%;
}

/*Estilos de los botones del menu*/

#pagactual{
    border: #ffffff solid 2px;
}

.boton {
    margin: 0 35px;
}

.textboton:hover {
    background-color: #cb6d51;
}

.textboton {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
}

/*Estilos del footer*/

.footer{
    position: absolute;
    width: 70%;
    background-color: #ffffff;
    margin-left: 14%;
    padding-top: 67%;
    z-index: 1;
}

#direccion{
    margin-left: 25%;
}

#avisolegal{
    margin-left: 10%;
}

#redessociales{
    margin-left: 42%;
    margin-bottom: 1%;
    margin-top: 2%;
}

/*Estilos de index*/

.contetindex{
    margin-top: 20%;
    margin-left: 4%;
}

#textindex{
    width: 50%;
}

#imgindex{
    position: relative;
    float: right;
    margin-right: 10%;
}

.promo{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
}

#imgprom{
    position: relative;
    float: left;
}

#tableprom{
    border: #000000 solid 3px;
    padding: 1% 3% 3% 3%;
    position: relative;
    float: right;
    margin-right: 13%;
    margin-top: 2%;
}

#bannerindex{
    margin-left: 10%;
    margin-top: 1%;
}

/*Estilos de productos*/

#textproducts{
    width: 90%;
    margin-left: 5%;
    margin-top: 20%;
}

#imgsgaleria{
    margin-left: 6%;
    margin-top: 10%;
}

.imggaleria{
    margin-left: 4%;
}

/*Estilos de contacto*/

.sectioncontact{
    margin-top: 17%;
}

#horario{
    position: relative;
    float: left;
    left: 5%;
}

#contacto{
    position: relative;
    float: right;
    right: 10%;
    margin-top: 2%;
}

#cajamapa{
    border: #000000 solid 1px;
}

#imgrestaurant{
    margin-top: 53%;
    margin-left: 8%;
}

#lista{
    list-style-type: none;
}

/*Estilos de presupuesto*/

#formulario{
    position: relative;
    left: 35%;
    margin-top: 19%;
}

#boton2{
    width: 100px;
    height: 30px;
    background: #b14f32;
    color: #ffffff;
    border: #b14f32;
    margin-top: 22%;
}

#boton2:hover{
    background: #cb6d51;
    border: #cb6d51;
}

#bannerpresupuesto{
    position: relative;
    left: 15%;
    margin-top: 3%;
}