<!--Insertar un mapa con la ubicación de la empresa (.png o .jpg) así como los datos de la empresa-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Página de proyecto masterD" />
    <meta name="robots" content="NOFOLLOW" />
    <meta name="Author" content="Maria" />
    <meta name="keywords" content="Proyecto,Prueba,Práctica" />
    <meta name="lang" content="es" />
    <meta name="revisit-after" content="1 days" />
    <meta name="category" content="Proyecto" />
    <title>Restaurant Durant`s</title>
</head>
<body>
    <P>Hola mundo!</P>
</body>
</html>
