<!--Insertar un mapa con la ubicación de la empresa (.png o .jpg) así como los datos de la empresa-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Página de proyecto masterD" />
    <meta name="robots" content="NOFOLLOW" />
    <meta name="Author" content="Maria" />
    <meta name="keywords" content="Proyecto,Prueba,Práctica" />
    <meta name="lang" content="es" />
    <meta name="revisit-after" content="1 days" />
    <meta name="category" content="Proyecto" />
    <!-- Declaración de fichero de estilos -->
    <link rel="stylesheet" type="text/css" href="../CSS/Estilos.css">
    <title>Restaurant Durant`s</title>
</head>
<body>
    <div id="fondo">
    <header>
        <div><img src="../images/Logo.png" alt="logotipo" width="200" height="180" id="logo"></div>
        <nav>
            <!--Div que contiene el menú-->
            <div id="menu">
            <span class="boton">
                <a href="../index.html" class="">Inicio</a></span>
                <span class="boton">
                <a href="productos.html" class="">Productos</a></span>
                <span class="boton">
                <a href="presupuesto.html" class="">Presupuestos</a></span>
                <span class="boton">
                <a href="contacto.html" class="">Contacto</a></span>
            </div>
        </nav> 
    </header>
    <P>Hola mundo!</P>
    <img src="../images/viber.png" alt="telefono" width="30" height="30">
    <footer>
        <p id="direccion">
            Calle Pájaro 3 │ Edificio La Victoriana Bajo │ Málaga │ 45678 │ España
            </p>
        <p id="avisolegal">Restaurant Durant's S.L.U. • Todos los derechos reservados • Aviso legal • Politica de privacidad • Politica de cookies
        </p>
        <a href="https://www.youtube.com" alt="redirección a youtube"><img src="../images/youtube.png" alt="logo de youtube" width="50" height="50" id="redessociales"></a>
        <a href="https://www.facebook.com" alt="redirección a facebook" ><img src="../images/facebook.png" alt="logo de facebook" width="50" height="50" ></a>
        <a href="https://www.instagram.com" alt="redirección a instagram" ><img src="../images/instagram.png" alt="logo de instagram" width="50" height="50"></a>
    </footer>
</div>
</body>
</html>
