<!-- Pagina para mostrar los trabajos o productos de la empresa-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Página de proyecto masterD" />
    <meta name="robots" content="NOFOLLOW" />
    <meta name="Author" content="Maria" />
    <meta name="keywords" content="Proyecto,Prueba,Práctica" />
    <meta name="lang" content="es" />
    <meta name="revisit-after" content="1 days" />
    <meta name="category" content="Proyecto" />
    <!-- Declaración de fichero de estilos -->
    <link rel="stylesheet" type="text/css" href="../CSS/Estilos.css">
    <title>Restaurant Durant`s</title>
</head>
<body>
    <header>
        <nav>
            <!--Div que contiene el menú-->
            <div class="div_menu">
            <span class="">
                <a href="#index.html" class="div_menu">Inicio</a></span>
                <span class="">
                <a href="productos.html" class="div_menu">Productos</a></span>
                <span class="">
                <a href="presupuesto.html" class="div_menu">Presupuestos</a></span>
                <span class="">
                <a href="contacto.html" class="div_menu">Contacto</a></span>
            </div>
        </nav> 
    </header>
    <P>Hola mundo!</P>
    <footer>
        <p>
            Calle Pájaro 3<br>
            Edificio La Victoriana Bajo<br>
            Málaga<br>
            45678<br>
            España
            </p>
        <p>
            <h3>Aviso Legal</h3>
            Los contenidos de este sitio web son para fines educativos y de demostración.<br>
            La información proporcionada es ficticia y no representa a ninguna persona o entidad real.<br>
            El uso de este sitio web implica la aceptación de los términos y condiciones establecidos.<br>
            No nos hacemos responsables por cualquier daño o perjuicio derivado del uso indebido del mismo.
            </p>
        <a href="https://www.youtube.com" alt="redirección a youtube"><img src="../images/youtube.png" alt="logo de youtube" width="50" height="50"></a>
        <a href="https://www.facebook.com" alt="redirección a facebook" ><img src="../images/facebook.png" alt="logo de facebook" width="50" height="50" ></a>
        <a href="https://www.instagram.com" alt="redirección a instagram" ><img src="../images/instagram.png" alt="logo de instagram" width="50" height="50"></a>
    </footer> 
</body>
</html>
