<!-- Pagina para mostrar los trabajos o productos de la empresa-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Página de proyecto masterD" />
    <meta name="robots" content="NOFOLLOW" />
    <meta name="Author" content="Maria" />
    <meta name="keywords" content="Proyecto,Prueba,Práctica" />
    <meta name="lang" content="es" />
    <meta name="revisit-after" content="1 days" />
    <meta name="category" content="Proyecto" />
    <title>Restaurant Durant`s</title>
</head>
<body>
    <header>
        <nav>
            <!--Div que contiene el menú-->
            <div class="div_menu">
            <span class="">
                <a href="#index.html" class="div_menu">Inicio</a></span>
                <span class="">
                <a href="productos.html" class="div_menu">Productos</a></span>
                <span class="">
                <a href="presupuesto.html" class="div_menu">Presupuestos</a></span>
                <span class="">
                <a href="contacto.html" class="div_menu">Contacto</a></span>
            </div>
        </nav> 
    </header>
    <P>Hola mundo!</P>
    <footer>
        <div id="">TODOS LOS DERECHOS RESERVADOS</div>
    </footer> 
</body>
</html>
