<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Página de proyecto masterD" />
        <meta name="robots" content="NOFOLLOW" />
        <meta name="Author" content="Maria" />
        <meta name="keywords" content="Proyecto,Prueba,Práctica" />
        <meta name="lang" content="es" />
        <meta name="revisit-after" content="1 days" />
        <meta name="category" content="Proyecto" />
        <!-- Declaración de fichero de estilos -->
        <link rel="stylesheet" type="text/css" href="../css/estilos.css" />
        <title>Restaurant Durant`s</title>
    </head>
    <body>
        <header>
            <!-- Div que contiene el menú -->
            <div id="menu">
                <img src="../images/Logorestaurant.png" alt="logotipo" width="170" height="150" id="logo" />
                <span class="boton"><a href="../index.html" class="textboton">Inicio</a></span>
                <span class="boton"><a href="#" class="textboton" id="pagactual">Productos</a></span>
                <span class="boton"><a href="presupuesto.html" class="textboton">Presupuesto</a></span>
                <span class="boton"><a href="contacto.html" class="textboton">Contacto</a></span>
            </div>
        </header>
        <!-- Div del fondo blanco y el contenido -->
        <div id="fondo">
            <!-- primera section -->
            <section id="textproducts">
                <p>
                    Nuestro menú, cuidadosamente elaborado, destaca por la calidad excepcional de sus ingredientes y la maestría en su preparación, lo que nos ha valido múltiples reconocimientos en el ámbito culinario...<br /><br /><br />
                    Desde exquisitas tapas tradicionales hasta innovadores platos internacionales, cada creación refleja un compromiso inquebrantable con la excelencia y una profunda pasión por la cocina.
                </p>
            </section>
            <!-- segunda section -->
            <section id="imgsgaleria">
                <img src="../images/pexels-iina-luoto-460132-1211887.jpg" alt="Platillo" width="200" height="210" />
                <img src="../images/pexels-chevanon-323682.jpg" alt="Platillo" width="180" height="210" />
                <img src="../images/pexels-valeriya-1833349.jpg" alt="Platillos" width="180" height="210" />
                <img src="../images/pexels-isabella-mendes-107313-858508.jpg" alt="Platillos" width="250" height="210" />
                <!--La 5 imagen cuenta con una clase para alinear las imagenes de a 2da fila-->
                <img src="../images/pexels-vincent-ma-janssen-1310777.jpg" class="imggaleria" alt="Mesa con platos servidos" width="250" height="210" />
                <img src="../images/pexels-pixabay-262978.jpg" alt="Comida servida" width="250" height="210" />
                <img src="../images/pexels-ella-olsson-572949-1640772.jpg" alt="Platillos" width="250" height="210" />
            </section>
        </div>
        <!-- footer -->
        <footer class="footer">
            <p id="direccion">
                Calle Paloma 3 │ Edificio La Victoriana Bajo │ Málaga │ 45678 │ España
            </p>
            <p id="avisolegal">
                Restaurant Durant's S.L.U. • Todos los derechos reservados • Aviso legal • Politica de privacidad • Politica de cookies
            </p>
            <nav id="redessociales">
                <!--Los enlaces y las imagenes se encuentran juntos ya que al indentarlos provoca un error visual-->
                <a href="https://www.youtube.com"><img src="../images/youtube.png" alt="logo de youtube" width="50" height="50"></a>
                <a href="https://www.facebook.com"><img src="../images/facebook.png" alt="logo de facebook" width="50" height="50" ></a>
                <a href="https://www.instagram.com"><img src="../images/instagram.png" alt="logo de instagram" width="50" height="50"></a>
            </nav>
        </footer>
    </body>
</html>